# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# vscode files
.vscode/

# macos files
.DS_Store

# windows files
Thumbs.db
ehthumbs.db
Desktop.ini

#python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
.venv/
venv

# test txt files
staff.txt
projects.txt
students.txt
output.txt

# compiled files
GenAlloc
Alloc.o
info.plist
GenAlloc.dSYM/
GenAlloc.app/
GenAlloc.app.dSYM/
GenAlloc.app.dSYM/Contents/Info.plist
GenAlloc.app.dSYM/Contents/Resources/
GenAlloc.app.dSYM/Contents/Resources/Relocations/
GenAlloc.app.dSYM/Contents/Resources/Relocations/aarch64/
GenAlloc.app.dSYM/Contents/Resources/Relocations/aarch64/GenAlloc.yml
GenAlloc.app.dSYM/Contents/Resources/Relocations/aarch64/GenAlloc.yml